@font-face {
    font-family: "Indie Flower";
    src: url("../fonts/IndieFlower.ttf");
}

.DeleteButton{
    font-family: 'Indie Flower', cursive;
    border-radius: 50%;
    background: #ff8080;
    color:white;
    border:none;
    font-weight: bold;
    margin-left:10px;
    height:19px;
}

.DeleteButton:hover{
    background: #ff4d4d;
    cursor: pointer;
}