.Frame{
    margin:30px 50px 30px 50px;
    padding:30px;
    background: #ffffb3;
    box-shadow: 0 0 42px -3px rgba(0,0,0,0.75);
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 5%;
    position:relative;
    max-width:800px;
    width:80%;
}

.tasksList{
padding:0;
}

.log-out{
    position: absolute;
    right:5px;
    top:5px;
    padding: 5px;
    color: white;
    background: #ff4d4d;
    border-radius: 50%;
    border: 1px #ffffff solid;
    font-family: 'Indie Flower', cursive;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1.5px;
    outline: none;
}

.log-out:hover{
    cursor: pointer;
    background: #ff332c;
}

.log-out:active{
    background: #ff151a;
}

@media (min-width: 560px) {
    .Frame{
        width:auto;
    }
}
