@font-face {
    font-family: "Indie Flower";
    src: url("../fonts/IndieFlower.ttf");
}

.FrameTitle h1{
    text-transform: uppercase;
    font-family: 'Indie Flower', cursive;
    font-size:50px;
    margin:10px;
}

.FrameTitle h3{
    margin:5px;
    font-size:20px;
}

.FrameTitle h3::after, .FrameTitle h3::before{
    display: inline-block;
    letter-spacing: -5px;
    font-size:25px;
    -webkit-transform: scaleX(0.5) scaleY(1.5);
    transform: scaleX(0.5) scaleY(1.5);
    margin-bottom:15px;
    font-weight: normal;
}

.FrameTitle h3::after{
    content:">>>>>>>>>>";
}

.FrameTitle h3::before{
    content:"<<<<<<<<<<";
}